<div class="container">
<h3>Add New User</h3>
  <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="userName">User Name</label>
          <input type="text" id="userName" class="form-control" name="userName" formControlName="userName"/>
        </div>
      </div>
    </div>
    <button [disabled]="!newUserForm.valid" type="submit" class="btn btn-success float-right">
    <fa-icon [icon]="['fas', 'save']" size="lg"></fa-icon>
    <span class="button-span">Save</span>
    </button>
  </form>
</div>
