/* You can add global styles to this file, and also import other style files */
.field-error {
  border:1px  solid red;
}
.container {
  padding: 20px;
}
button{
  margin:10px;
}

.button-span {
  margin-left: 10px;
}